body {

}

h1 {
    font: size 200px;
    text-align: center;
}

h2 {
    font: size 4px;
    margin: auto;
    text-align: center;
}
img {
    width: 100%;
}

ul{
    padding: none;
    list-style-type: none;
    justify-content: space-between;
    align-items: left;
    color: blue;
    font-style: flexbox;
}

article{
    margin: 4rem;
    border: 1px lightgray;
    padding-bottom: 2rem;
}
p::first-letter {
        font-size: 130%;
        color: black;
}

#copyright{
    color: black;    
}


.flex-container{
    display: flex;
    align-items:flex-start ;
    background-color: dodgerblue;
    inner border-;:3px solid black;
    
}
