body {
    background-color: dimgray;
    color: white;
    background-color: #515151;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23040404' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    -webkit-text-stroke: .1px black;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 0em;
    margin-bottom: .2em;
    border: 5px white solid;
}

.flex-container{
    display: flex;
    align-content: center;
    margin: auto;
}

.boxOne {
    flex: .5;
    justify-content: center;
}

.boxTwo {
    flex: 4;
}

.boxThree {
    flex: .9;
}

.flex-container2{
    display: flex;
    margin: auto;
    border: 2px white solid;
    height: 500px;
    font-size: larger;
}

.projectOne {
    flex: 2;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.projectTwo {
    flex: 2;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.projectThree {
    flex: 2;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

h2 {
    font-size: 30px;
    margin: auto;
    text-align: center;
    
}

p{
    font-size: 25px;
    margin: auto;
    padding: 1%;
}

img {
    width: 250px;
    height: auto;
    margin:auto;
}

ul{
    padding: none;
    list-style-type: none;
    justify-content: space-between;
    color: blue;
    font-style: flexbox;
    font-size: 20px;
}

p::first-letter {
        font-size: 120%;
        color: white;
}

.projects{
    font-size: 50px;
    border: 5px white solid;
}

#copyright{
    color: white;    
    font-size: 20px;
}

@media screen and (max-width: 768px){
    .flex-container{
        flex-direction: column;
    }
    img{
        width: 100%;
        height: auto;
    }
}
