html {
    border-left: 5px lightgray;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
    max-width: 1000px;
    margin: auto;
}

head {
    padding-top: 1rem;
    padding-bottom: 1rem ;
    padding-left: 2rem;
    padding-right: 2rem;
}

main {
    padding-top: 1rem;
    padding-bottom: 1rem ;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem ;
    padding-left: 2rem;
    padding-right: 2rem;
    color:;
}

h1 {
    color:;
    font-size:40px;
}

h2 {
    font-size:40px;
}

h3 {
    text-align: right;
    color: ;
    font-weight: 700;

}

img {
    width: 100%;
}

ul{
    padding: none;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    color: lightgray;
    font-style: flexbox;
}

article{
    margin: 4rem;
    border: 1px lightgray;
    padding-bottom: 2rem;
}
p::first-letter {
        font-size: 130%;
        color: lightgray;
}

#copyright{
    color: lightgray;    
}


a{
    color: lightgray;
}

footer a{
    color: ;
}
